@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');
@import '../App/fonts';

header{
  background: rgba(0,0,0,.5); 
  color: #fff;
  width: 100vw;
  box-shadow: 0 0 5px #000;
  
  nav{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    &.hide{
      span:not(.icon-octopus){
        display: none;
      }  
    }

    span:not(.icon-octopus){
      border-bottom: 1px solid #fff;
      padding:5px 10px;
      
      &:last-child{
        border: none;
      }
    }
    
    .icon-octopus{
      order: -1;
      font-size: 3em;
    }

    @media screen and (min-width: 920px){
      flex-direction: row;
      .icon-octopus{
        order: 0;
      }
      &.hide,&.show{
        span:not(.icon-octopus){
          display: block;
          border: none;
        }  
      } 
    }
  }
  
  .menu{
    width: 25px;
    position: fixed;
    top: 10px;
    right: 10px;
    
    span{
      display:block;
      width: 100%;
      height: 2px;
      background: #fff;
      margin:5px 0;
    }

    @media screen and (min-width: 920px){
      display: none;
    }
  }
}