.our-story{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  .card{
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 5px #000;
    color: #fff;
    font-size: 24px;
    line-height: 1.2;
    
    h3{
      text-align: center;
      font-size: 18px;
      margin: 10px 0;
      color: #000;
    }

    figure{
      display:flex;
      justify-content: center;
      align-items: flex-start;
      
      img{
        max-width: 320px;
      }
    }

    p{
      font-family: 'Reenie Beanie', cursive;
      color: #000;
    }
  }

  
}