.rsvp{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .hide{
    display: none;
  }

  .show{
    display: block;
  }
  
  form{
    width: 100%;
    max-width: 1024px;
    padding:10px;
  }

  img{
    margin: 10px 0;
  }

  label{
    margin-bottom: 30px;
    display: block;
  }

  select{
    display: block;
    padding: 10px;
    border: 2px solid #11778a;
    margin-top: 15px;
    width: 220px;
  }
  
  input{
    display: block;
    height: 40px; 
    border: none;
    border-bottom: 2px solid #11778a;
    font-family: 'Reenie Beanie', cursive;
    width: 100%;
    padding: 5px;
    font-size: 26px;
    outline: none;

    &[type='submit']{
      border:none;
      width: auto;
      padding: 5px 20px;
      margin: 0 auto;
      &:hover{
        cursor: pointer;
        background: #11778a;
        color: #fff;
      }
    }
  }

  .success{
    margin: 20px 0;
    font-family: 'Reenie Beanie', cursive;
    font-size:45px;
    color: #11778a;
  }
}