@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');

body{
	margin:0;
	padding:0;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 16px;
}

header{
	background: rgba(0,0,0,.5);
	color: #fff;
	position:fixed;
	width:100vw;
	transform: translateY(-100px);
	animation: animate-nav 1s ease-out 2s forwards;

	nav{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
	}
	span{
		padding: 0 15px;
		&:hover{
			cursor: pointer;
		}
	}
}

.main{
	width:100vw;
	height:100vh;
	background: url(/images/vineyard.jpg) no-repeat center center fixed;
	background-size: cover;
}

.couple{
	background:#000;
	width:100vw;
	height:100vh;
}

@keyframes animate-nav{
	from{
		transform: translateY(-100px);
	}
	to{
		transform: translateY(0);
	}
}